<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Instagram</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet" />
    <script
      src="https://kit.fontawesome.com/23e4f9af49.js"
      crossorigin="anonymous"></script>
  </head>
  <style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: Poppins;
    }

    body {
      display: flex;
      flex-direction: column;
    }

    header {
      display: flex;
      gap: 220px;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    .button {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: rgb(20, 20, 20);
      border: 3px solid red;
      color: white;
      font-weight: 600;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
      cursor: pointer;
      transition-duration: 0.1s;
      overflow: hidden;
      position: relative;
    }

    .button:hover {
      margin-top: 2px;
      background-color: gray;
      font-weight: 400;
    }
    body {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
      background: #eee;
    }
    .card {
      position: relative;
      width: 360px;
      min-height: 400px;
      background: #fff;
      box-shadow: 15px 15px 60px rgba(0, 0, 0, 0.15);
      padding: 20px;
      margin-bottom: 7px;
    }
    .card .top {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .card .top .userDeatils {
      display: flex;
      align-items: center;
    }
    .card .top .userDeatils .profileImg {
      position: relative;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin-right: 8px;
      overflow: hidden;
    }
    .cover {
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      cursor: pointer;
    }
    .card .top .userDeatils h3 {
      font-size: 18px;
      color: #4d4d4f;
      font-weight: 700;
      line-height: 1rem;
      cursor: pointer;
    }
    .card .top .userDeatils span {
      font-size: 0.75em;
    }
    .card .top .dot {
      transform: scale(0.6);
      cursor: pointer;
    }
    .imgBg {
      position: relative;
      width: 100%;
      height: 320px;
      margin: 10px 0 15px;
    }
    .btns {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .btns img {
      max-width: 24px;
      cursor: pointer;
    }
    .btns .left img {
      margin-right: 8px;
    }
    .likes {
      margin-top: 5px;
      font-size: 1em;
      color: #4d4d4f;
    }
    .message {
      font-weight: 400;
      margin-top: 5px;
      color: #777;
      line-height: 1.5em;
    }
    .message b {
      color: #262626;
    }
    .message span {
      color: #1d92ff;
      cursor: pointer;
    }
    .comments {
      margin-top: 10px;
      align-items: center;
      color: #999;
    }
    .addComments {
      display: flex;
      align-items: center;
      margin-top: 10px;
    }
    .addComments .userImg {
      position: relative;
      min-width: 30px;
      height: 30px;
      border-radius: 50%;
      overflow: hidden;
      margin-right: 8px;
    }
    .addComments .text {
      width: 100%;
      border: none;
      outline: none;
      font-weight: 400;
      font-size: 18px;
      color: #262626;
    }
    .addComments .text::placeholder {
      color: #777;
    }
    .postTime {
      margin-top: 10px;
      font-weight: 500;
      color: #777;
    }
    .back {
      background: #ab179e;
      border: 1px solid #fff;
      padding: 3px;
      border-radius: 10px;
    }

    a {
      text-decoration: none;
      color: #fff;
    }
  </style>
  <body>
    <header>
      <div>
        <button class="back">
          <a href="http://localhost:7777/api/home">&larr;</a>
        </button>
      </div>
      <h2>
        <i class="fa-brands fa-instagram" style="color: #f09433; font-size: small">
          Instagram
        </i>
      </h2>
    </header>
    <main>
      <%postsOfClickedUser.forEach(el => { %>
      <div class="card">
        <div class="top">
          <div class="userDeatils">
            <div class="profileImg">
              <img src="/uploads/images/user.png" alt="user" class="cover" />
            </div>
            <h3><%= usernameOfClickedUser%><br /><span>Author</span></h3>
          </div>
          <div class="dot">
            <img src="/uploads/images/dot.png" alt="dot" />
          </div>
        </div>
        <div class="imgBg">
          <img src="/uploads/<%= el.image%>" alt="bg" class="cover" />
        </div>
        <div class="btns">
          <div class="left">
            <img
              src="/uploads/images/heart_red.png"
              alt="heart"
              class="heart" />
            <img src="/uploads/images/comment.png" alt="comment" />
            <img src="/uploads/images/share.png" alt="share" />
          </div>
          <div class="right">
            <img src="/uploads/images/bookmark.png" alt="bookmark" />
          </div>
        </div>
        <h4 class="likes">
          <%= Math.floor(Math.random() * (1000 - 100 + 1) + 1000) %> likes
        </h4>
        <h4 class="message">
          <b><%= usernameOfClickedUser%></b>
          <%= el.name%>: <%= el.description%>
        </h4>
        <span><%= el.hashtag%></span>
      </div>
      <%}) %>
    </main>
    <footer>
      <p>© Copyright 2023. All rights reserved, maybe...</p>
    </footer>
  </body>
</html>
